*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
.idea/compiler.xml
.idea/gradle.xml
camera/build
tryCameraLib/build
.idea/deploymentTargetDropDown.xml
libPlayer/build
.idea/other.xml
.idea/deploymentTargetSelector.xml
.idea/runConfigurations.xml
.idea/kotlinc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/deviceManager.xml
.idea/emulatorDisplays.xml
.idea/codeStyles/Project.xml
.idea/copilot.data.migration.edit.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/planningMode.xml
